body {
            background-color: #ccc;
            margin: 0;
        }

        .wrap {
            background-color: #fff;
            /* border: 1px solid red; */
            width: 1280px;
            margin: auto;
            text-align: center;
        }

        .header {
            width: 100%;
            height: 200px;
            background-image: url("../images/banner.jpg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center 0;

        }

        .nav {
            padding: 20px 0;
        }

        .content {            
            width: 100%;            
        }

        .content img {
            width: 100%;
        }

        .footer {
            padding-bottom: 20px;
        }

        a {
            color: #333;
            text-decoration: none;
            margin: 0 20px;
        }

        a:hover {
            color: red;
        }

        .active {
            background-color: red;
            color: #fff;
            padding: 5px 10px;
        }